[init]
  defaultBranch = main

[pull]
  # `git pull` works as `git pull --rebase` by default
  rebase = true

[rerere]
  # enable "reuse recorded resolutions" to avoid solving the same conflicts
  # over and over again during rebase operations on long-living branches
  # https://git-scm.com/book/en/v2/Git-Tools-Rerere
  enabled = true

[core]
  # speed up commands that involve determining untracked files such as git status
  # https://git-scm.com/docs/git-update-index#_untracked_cache
  untrackedCache = true

  # ensure proper line endings ('input' on unix, 'true' on windows)
  # https://docs.github.com/en/get-started/git-basics/configuring-git-to-handle-line-endings
  autocrlf = input

[include]
  path = .config/git/lfs.gitconfig

[include]
  path = .config/git/delta.gitconfig

[include]
  path = .config/git/aliases.gitconfig
